body {
	margin-left: 0px;
	margin-right: 0px;
	font-family: "Trebuchet MS"; 
	font-size: 11px;
	font-style: normal; 
	font-variant: normal;
	color:#666666;
}	
.style2 {color: #666666}
a:link {
	text-decoration: underline;
	color: #666666;
}
a:visited {
	text-decoration: underline;
	color: #666666;
}
a:hover {
	text-decoration: none;
	color: #990000;
}
a:active {
	text-decoration: underline;
	color: #666666;
}

.style3 {
	font-size: 14px;
	font-weight: bold;
}



.style4 {
	color: #990000;
	font-weight: bold;
}
.style6 {color: #990000;
   text-decoration: underline;}
   
.style7 {color: #990000}
a:link {
	text-decoration: underline;
	color: #666666;
}
a:visited {
	text-decoration: underline;
	color: #666666;
}
a:hover {
	text-decoration: none;
	color: #990000;
}
a:active {
	text-decoration: underline;
	color: #666666;
}

table.picture {
border:1px solid #666;
}
table.picture2 {
border-top:1px solid #666; border-bottom:1px solid #666;
}

td.picture {
border:1px solid #666;
}
td.picture2 {
border-top:1px solid #666; border-bottom:1px solid #666;
}

td.picture3 {
border-left:1px solid #666; border-bottom:1px solid #666; border-right:1px solid #666;
}
table.graybar {
border-top:1px solid #666; border-bottom:1px solid #666; 
}
td.graybar {
border-right: 1px solid #cccccc;
}

form {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
		border-color:#666666;
        }
td.padded_cell{padding:0px 0px 7px 0px;
}
table.padded_cell2{padding:3px 0px 0px 0px;
}

td.padded_cell2 {padding: 5px 0px 0px 0px;
}

td.rotating_image {border-left:1px solid #666; border-right:1px solid #666;
}

td.padded_cell3{padding:0px 0px 7px 0px;
}