span{font-size: 16pt; text-transform: capitalize; }
h1{color: #e81f2b; font-size: 24pt; text-transform: capitalize; font-family: Verdana
}

p{font-size: 10pt; text-transform: capitalize; font-family: Verdana}

.employee {font-size: 12pt; color: #e81f2b; text-transform: capitalize; font-family: Verdana; font-weight: bold 
}